[run]
branch = true
omit = */tests/*,
    */site-packages/*,
    */migrations/*,
    */urls.py,
    */settings/*,
    */wsgi.py,
    */asgi.py,
    */__init__.py,
    manage.py
source = *bowling_calculator/*

[report]
show_missing = true

[html]
directory = coverage_html